<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hftbacktest.0806T001.transfer</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string>
    <string>-dimsu</string>
    <string>/bin/zsh</string>
    <string>/Users/liu/Documents/hftbacktest/.workflow/runners/0806T001_transfer_to_amdserver.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/liu</string>
    <key>USER</key>
    <string>liu</string>
    <key>LOGNAME</key>
    <string>liu</string>
    <key>AWS_PROFILE</key>
    <string>codex-cli</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/liu/Documents/hftbacktest/local_live_analysis/0806T001_transfer/launchd.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/liu/Documents/hftbacktest/local_live_analysis/0806T001_transfer/launchd.stderr.log</string>
</dict>
</plist>
